<ion-header>
  <div class="headerBarBumpTwo"></div>
  <div class="customEventMedHeaderClass">

    
  
<div  class="frontLayer">

<!--Start of Custom Tab Header: CJM -->




<div  class="date headerOverride">
    <span class="eventHeaderMonth"><b> {{eventMonth}}</b></span> 
    <span class="eventHeaderDate"> <b>{{eventDate}}</b> </span>
    </div>
            <div class="eventHeaderMainText">
                <img  src="assets/img/menu.png" class="menuIcon" />
                  <span class="em08"> Remebering</span>
              <br />
                  <span class="em1"> <b>{{nameToUse}}</b> </span>
              <br />     
                  <span class="em08"> {{funeralHome}}</span>
              <br /> 
                  <span class="em08"> {{eventTime}} | {{eventMonth}}. {{eventDate}}</span>
   </div>



<div class="row eventTabsMain">
    
                <div (click)="goToEvents()" class="col">
                    <ion-icon class="eventTabs" ios="ios-calendar-outline" md="md-calendar">
                      <div>
                    Event
                    </div>
                    </ion-icon>
                
                </div>
                
                <div (click)="goToCare()"  class="col ml10 tabSelected">
                <ion-icon  class="eventTabs" name="heart-outline">
                  <div >
                  Registry of <br /> Care
                  </div>
                </ion-icon>

              </div>
              
              <div (click)="goToFeed()" class="col ml10">
                <ion-icon class="eventTabs" ios="ios-paper-outline" md="md-paper">
              <div>
                  Condolence <br /> Feed 
                  </div>
                </ion-icon>
              </div>
              
    </div>
    

</div>

  </div>
<!--End of Custom Tab Header: CJM -->

</ion-header>


<ion-content>



<!-- Entry Card only seen once -->
<div *ngIf="!hasSeenCare" style="height : 97%; margin-top: 1%;" class="bgCard center">

<div style="padding-left: 5%; padding-right: 5%; margin-top: 20%;">
<h2 style="font-size: 1.5em;"> <b>Your loved ones want to help. Unfortunately, they don't always know what you need.</b></h2>

<h2 style="font-size: 1.5em;"> Your <span class="friendlyName"> Care Registry </span> gives them simple,  specific ways to support you and your family in the days ahead. </h2>
</div>
</div>


<!-- End of Registry of Care entry card that will only be seen once -->



<!-- Entry Card Default-->
<div *ngIf="hasSeenCare"   class="center">

<div style="padding-left: 5%; padding-right: 5%; margin-top: 20%;">
<h2 style="font-size: 1.5em;"> <b></b></h2>

<h2 style="font-size: 1.5em;"> Your <span class="friendlyName"> Care Registry </span>  select will go here </h2>
</div>
</div>


<!-- End Entry Card Default-->


</ion-content>
<ion-footer>
  <button class="footerButton" type="submit" (click)="getStarted()">{{careButtonText}}</button>
  
</ion-footer>