page-care-registry-first-time-modal {
        background-color: rgba(0, 0, 0, 0.3);
        ion-content{
            position: absolute;
            top: 30px;
            bottom: 30px;
            left: 30px;
            right: 30px;
        /* Rectangle 28: */
        background-color: #FFFFFF;
        border-radius: 3px;
        
        }
        
}
