page-info-ssn-modal {
background-color: rgba(0, 0, 0, 0.3);
ion-content{
 height:30%;


    margin-top:50%;
background: url('../assets/img//why.png') 50% 50% no-repeat ;
background-color: rgba(0, 0, 0, 0.9);


h4
{
font-size: 15px;
}

}
}
