page-service-view-modal {
 background-color: rgba(0, 0, 0, 0.3);
ion-content{
 height:30%;
 width: 80%;
 margin-left: 10%;
    margin-top:70%;
    margin-bottom:50%;
/* Rectangle 28: */
background-color: #FFFFFF;
border: 4px solid #7CADE4;
border-radius: 3px;

h4
{
font-size: 15px;
}
}}
