// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$headings-font-weight: 300;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #7CADE4,
  secondary:  #33475C,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  twitter:    #1da1f4,
  google:     #dc4a38,
  vimeo:      #23b6ea,
  header: #979797
);




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background:                   color($colors, primary);
$toolbar-md-border:  color($colors, header);
// Change the color of the segment button text
$toolbar-md-active-color:                 #fff;

$item-ios-padding-left: 25px ;
$item-ios-padding-right: 25px ;
$datetime-ios-padding-right: 25px;
$datetime-ios-padding-left: 25px;
$text-input-ios-margin-top: 0;
$text-input-ios-margin-bottom: 0;
$text-input-ios-margin-left: 0;
$text-input-ios-margin-right: 0;



$text-input-ios-margin-top: 0;
$text-input-ios-margin-bottom: 0;
$text-input-ios-margin-left: 0;
$text-input-ios-margin-right: 0;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
// Roboto font is used by default for Material Design. Noto sans
// is used by default for Windows.

@import "roboto";
@import "noto-sans";

//Custom Progress Bar - CJM
#myProgress {
 margin-left: 25%;
  width: 50%;
  background-color: #33475C;;
  border-radius: 7px;
}

#myBar {
  width: 10%;
  height: 5px;
  background-color: #7CADE4;
  border-radius: 7px;
}/* Understanding your l: */










//Custom CSS Styling for EventApp ProtoType

  .bgCard{
     background: #ffffff;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 7px;
margin-left: 10px;
margin-right: 10px; 


       }

.friendlyName 
{
  color: #7CADE4;
}


  .footerButtonWhite{
    /* Rectangle 28: */
    background: #FFFFFF;
    /* Primary: */
    font-family: 'Roboto', sans-serif;
    font-size: 15.16px;
    border: 2px solid #33475C;
    color: #4A4A4A;
    width: 100%;
    height: 3em;
    align-items: center;
  }




  .item-ios.item-block .item-inner {

  
    border-bottom: 0;
  }



  .text-input-ios{
    margin: 0;
    height: 100%;
}

   .marButton
    {
     width: 50%;
     margin-bottom: 5%;
    }

    .whyModal
    {
        margin: 60%;
        color: #7CADE4;
        font-size: 9px;
    }


.footerButtonBump
{
    padding: 0;
}

.footerButtonDouble{
  /* Rectangle 28: */
  background: #E6785A;
  /* Primary: */
  font-family: 'Roboto', sans-serif;
  font-size: 15.16px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;;
  
}



.orangeSwitchButton{
  /* Rectangle 28: */
  background: #E6785A;
  /* Primary: */
  font-family: 'Roboto', sans-serif;
  font-size: 15.16px;
  color: #FFFFFF;
  height: 2.8em;
  align-items: center;
}
/////END OF COLE'S CSS CHANGES!!!





/////START OF TRAVI'S CSS CHANGES!!!!


.footerButton{
  /* Rectangle 28: */
  background: #E6785A;
  /* Primary: */
  font-family: 'Roboto', sans-serif;
  font-size: 15.16px;
  color: #FFFFFF;
  width: 100%;
  height: 2.8em;
  align-items: center;
}

.ios{
    .headerBarBump{
        height: 20px;
        background-color: #7cade4;
    }
    
        .headerBarBumpTwo
        {
  height: 20px;
  opacity: .7;
        background-color: #33475C;
        }
    
}

.customHeaderClass{
    background-color: #7cade4;
    border-bottom: solid 0.5px #979797;
    font-family: Roboto;
	font-size: 1.5em;
	font-weight: bold;
    text-align: center;
    vertical-align: center;
    color: #ffffff;
    height: 2.8em;
    line-height: 2.8em;
    position: relative;
}


/* Rectangle: */

.customEventHeaderClass{
    background-image: url("../assets/img/eventheader.png");
        background-size: 100%;
background-repeat: no-repeat;
    border-bottom: solid 0.5px #979797;
    font-family: Roboto;
	font-size: 1.5em;
	font-weight: bold;
    text-align: center;
    vertical-align: center;
    color: #ffffff;
    height: 5.8em;


    position: relative;
    /* Mask: */
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
/* 555799527: */
/* Sketch doesnt export pattern fills at this point */
/* Rectangle: */
.frontLayer
{ height: 100%;
    background: #33475C;
opacity: 0.7;

}
/* StatusBar: */
    img{
        height: 1.3em;
         margin-top: -20px;
    }
    .date
    { text-align: left;
    margin-left: 5%;
    margin-bottom: -5%;
        span{
            margin-top: -10px;
font-size: 3.5em;
opacity: 1.0;
        }
    }
    .info{

        span{

        }

    }
}


.menuIcon{
    height: 50%;
    position: absolute;
    right: 20px;
    top: 25%;
}

.welcomeSkipText{
    position: fixed; 
    top: 10px; 
    right: 10px;
    color: #CCCCCC;
}

.welcomeCenter{
    position: relative;
    top: 33%;
    left: 50%;
    transform: translate(-50%, 0%);
    width:100%;
    display: block;
    margin: auto;
}

.welcomeHeader1{
    font-family: Roboto;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
}

.welcomeHeader2{
    font-family: Roboto;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
}

.welcomeImage{
    height: 5em;
    display: block;
    margin: auto;
}

.ios{
  .welcomeSkipText{
      position: fixed; 
      top: 30px; 
      right: 10px;
  }
}

.whiteButton
{
    /* Rectangle 28: */
    background: #FFFFFF;
	border-radius: 3px;
	border: solid 3px #33475c;
    text-align: center;
    height: 2.5em;
    width: 48%;

    font-size: 1.1em;
	font-family: Roboto;
	font-weight: bold;
	text-align: center;
	color: #33475c;
}

.orangeButton
{
    /* Rectangle 28: */
    background: #E6785A;
	border-radius: 3px;
    text-align: center;
    height: 2.5em;
    width: 48%;

    font-size: 1.1em;
	font-family: Roboto;
	font-weight: bold;
	text-align: center;
    color: #FFFFFF;
}

.horizontalBreak{
    width: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.container{
    padding: 20px 10px 20px 10px;
}

.cardStyle{
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 7px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.mainFont{	
    font-family: Roboto;
	font-size: 1.6em;
	font-weight: bold;
    color: #4a4a4a;
}

.subFont{
    font-family: Roboto;
    font-size: 1.6em;
    color: #4F565C
}

.blueText{
    color: #7CADE4 !important;
}

.inputField {
    background: #FFFFFF;
    border: 2px solid #33475C;
    border-radius: 1.5px;
    height: 3em;
    text-align: start;
}

.searchField{
    background: url("../assets/img/search.png") no-repeat scroll 7px;
    padding-left:30px;
    background-size: 1.2em;
}

.text-input-ios{
    margin: 0 !important;
    height: 100%;
}

.searchMainFont{
    color: #33475C;
    font-size: 1.3em;
    font-weight: bold;
    font-family: Roboto;
    
}

.searchSubFont{
    color: #33475C;
    font-size: 1.3em;
    font-family: Roboto;
    
}
