page-home1 {

@keyframes slideinLeft {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}


.slide-in-left{
   -webkit-animation: slideinLeft ease-in 1; 
  animation: slideinLeft ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

@keyframes topFade {
  0% {
    -webkit-transform: translate3d(0,0,100%);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}


.topFade{
   -webkit-animation: t ease-in 1; 
  animation: topFade ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

.hideAnimation{
    opacity: 0;
    transition: opacity 0.5s linear;
}

.slideUp{
    top: -10%;
    transition: top 0.5s linear;
}




@keyframes slideInRight{
  0% {
    -webkit-transform: translate3d(100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}


.slide-in-right{
   -webkit-animation: slideInRight ease-in 1; 
  animation: slideInRight ease-in 1;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

@keyframes slideinTop{
  0% {
    -webkit-transform: translate3d(100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}


.slide-in-top{
   -webkit-animation: slideInTop ease-in 1; 
  animation: slideInTop ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}


.heartbounce {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
}
