
.speaker-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.speaker-detail p {
  color: #60646B;
}


  .orange
  {
      color:rgb(100%, 54.9%, 0%);
      font-size: 20px;
  }
.defaultValue
{
    color:rgb(100%, 54.9%, 0%);
}


  .labelOver{
    font-size: 15px;
  }
  
