
.speaker-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.speaker-detail p {
  color: #60646B;
}


  .orange
  {
      color:rgb(100%, 54.9%, 0%);
      font-size: 20px;
  }
.defaultValue
{
    color:rgb(100%, 54.9%, 0%);
}


  .labelOver{
    font-size: 15px;
  }
  
       .bgCard{
     background: #ffffff;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 7px;
padding-left: 5px;
padding-right: 5px;
padding-top: 10px;}

.badButton{
/* Rectangle 28: */
background: #E6785A;


/* Primary: */
font-family: 'Roboto', sans-serif;
font-size: 15.16px;
color: #FFFFFF;
}
/* Rectangle 28: */


.inputContainer
{
  padding-left: 25px;
padding-right: 25px;
}

.textField {
  background: #FFFFFF;
border: 2px solid #33475C;
border-radius: 1.5px;

}

.label{

font-size: 12.94px;
color: #33475C;

}

ion-item {
  border-bottom: 0;background-clip: padding-box;
}

